Hi there, Thanks for the PR, I dont have my envioremnt setup to build this now, to test, but this looks good to me.

I wonder, if its better to ask upstream https://github.com/open-source-parsers/jsoncpp to fix this
(if its not already fixed, the json parser is 2ish years out of date from upstream)

Jsonpp may not fix this issuse because the BOM characters are  illegal in JSON according to the RFC 8259, Section 8.1.
And here is the issuse in their repo:
https://github.com/open-source-parsers/jsoncpp/issues/1141

@DummyCatz Thank you for the fix. Does it work on IDA PRO 7.2 as well as 7.0 ? What about 7.5 ?
@Zer0xFF May you share a compiled version in Releases please ?